

{% extends 'base.html' %}
{% block content %}
<h1>Agregar Tarea al Alquiler</h1>
<ul>
    <li><strong>Cliente:</strong> {{ alquiler.cliente }}</li>
    <li><strong>Dron:</strong> {{ alquiler.drone.nombre }}</li>
    <li><strong>Fecha de Inicio:</strong> {{ alquiler.fecha_inicio }}</li>
    <li><strong>Fecha de Fin:</strong> {{ alquiler.fecha_fin }}</li>
    <li><strong>Servicio:</strong> {{ alquiler.servicio.nombre }}</li>
    <li><strong>Costo Total:</strong> ${{ alquiler.costo_total }}</li>
</ul>
<form method="post">
    {% csrf_token %}

    <label for="nombre">Nombre de la tarea:</label>
    <input type="text" name="nombre" required><br>

    <label for="descripcion">Descripción:</label>
    <textarea name="descripcion" required></textarea><br>


    <label for="duracion_estimada">Duración estimada (minutos):</label>
    <input type="number" name="duracion_estimada" required><br>

    

    <label for="fecha_inicio">Fecha de inicio:</label>
    <input type="datetime-local" name="fecha_inicio" required><br>

    <label for="fecha_fin">Fecha de fin:</label>
    <input type="datetime-local" name="fecha_fin" required><br>

    <input type="submit" value="Agregar Tarea">
</form>
{% endblock content %}