{% extends 'base.html' %}
{% block content %}

<h1>Alquiler de Drones</h1>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ dron.fotografia.url }}" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ dron.nombre }}</h5>
                <p class="card-text">Descripción: {{ dron.descripcion }}</p>
                <p class="card-text">Modelo: {{ dron.modelo }}</p>
                <p class="card-text">Horas de autonomía: {{ dron.autonomia }}</p>
                <p class="card-text">Carga Máxima: {{ dron.carga_maxima }}</p>
                <p class="card-text">Disponible: {{ dron.disponibilidad }}</p>
                <p class="card-text">Precio por hora: {{ dron.precio_hora }}</p>
            </div>
        </div>
    </div>
</div>

<h1>Crear Alquiler de Dron</h1>
<form method="post">
    {% csrf_token %}

    <p><strong>Dron: {{ dron.nombre }}</strong></p>

    <label for="fecha_inicio">Fecha de inicio:</label>
    <input type="date" name="fecha_inicio" required><br>

    <label for="fecha_fin">Fecha de fin:</label>
    <input type="date" name="fecha_fin" required><br>

    <label for="servicio">Selecciona un servicio:</label>
    <select name="servicio" id="servicio">
        {% for servicio in servicios %}
            <option value="{{ servicio.id }}">{{ servicio.nombre }} ({{ servicio.costo }})</option>
        {% endfor %}
    </select><br>

    <input type="submit" value="Crear Alquiler">
</form>
{% endblock content %}
