{% extends 'base.html' %}
{% block content %}


<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for dron in drones %}
    <div v-for="dron in drones" class="col">
        <div class="card">
            <img class="card-img-top" src="{{dron.fotografia.url }}" />
            <div class="card-body">
                <a href="{% url 'detalleDron' dron.id %}">
                    <h5 class="card-title fw-bold">{{ dron.nombre}}</h5>
                    </a>
                
                <p class="card-text">Descripcion: {{ dron.descripcion}}</p>
                <p class="card-text">Modelo: {{ dron.modelo}}</p>
                <p class="card-text">Horas autonomia :{{ dron.autonomia}}</p>
                <p class="card-text">Carga Maxima :{{ dron.carga_maxima}}</p>
                <p class="card-text">Disponible: {{ dron.disponibilidad}}</p>
                <p class="card-text">Precio por hora: {{ dron.precio_hora}} USD</p>
         
                <a  class="btn btn-primary" href="{% url 'detalleDron' dron.id %}">
                   Ver Detalles: {{ dron.nombre}}
                    </a>
           
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<hr class="my-4">
{% endblock content %}